*{
  margin: 0;
  padding: 0;
}
html,body{
  height:100%;
  width:100%;
}

body {

    background: #fff;
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 2.5;
    font-size: 1rem;
    /*overflow: hidden;*/
}

.container{
  display: flex;
  justify-content: center;
  height:100%;
  width:100%;
  padding: auto;
}

/* /Background icon positioning */
.bottom-left,
.bottom-right,
.top-left,
.top-right {
	position: fixed;
}
.bottom-left {
	bottom: 0;
	left: 0;
  width:12%;
  height:22%;

}
.bottom-right {
	bottom: 0;

	right: 0;
  width:25%;
  height:32%;
}
.top-left {
	left: 0;
	top: 0;
  width:17%;
  height:35%;
}
.top-right {

	right: 0;
	top: 0;
  width:10%;
  height:17%;
}

/* form */

.forms-container{
      align-self: center;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     /*justify-content: center;
     align-items: content;*/


     width: 90vw;
     /* width: 80%; */
     height: 90vh;


     /* border: 1px solid #BDBDBD; */
     box-sizing: border-box;
     /* box-shadow: 4px 4px 6px rgba(204, 204, 204, 0.40); */
     box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
form {
  /*border: 1px solid black;*/
  margin: auto;
  width:40%;
  padding:10px;
  text-align: center;


}

.input-container{

  height: 100%;
  margin:0;
  padding:0;
}
input {
    padding-left: 2em;
    height: 5vh;
    font-size: 87%;
    margin-bottom: 1.5em;
    width: 85%;
    border: 2px solid #B7B3B3;
    box-sizing: border-box;
    border-radius: 40px;


}
#saveForm {

    box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.4);
    /* background: #B2FEFA; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, rgb(81, 167, 224), rgb(139, 167, 226)); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, rgb(50, 99, 163), rgb(177, 186, 214)); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(270deg, #009DF6 26.4%, #00C0DB 68.5%);
    color: #fff;
    margin-top: 1em;
    width:90%;
    height: 5vh;
    border-radius: 40px;
    cursor: pointer;
}
#logIn{
  box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.4);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#80a9e6+33,be10ea+62 */
  background: #80a9e6; /* Old browsers */
  background: -moz-linear-gradient(left,  #80a9e6 33%, #be10ea 62%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #80a9e6 33%,#be10ea 62%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #80a9e6 33%,#be10ea 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9e6', endColorstr='#be10ea',GradientType=1 ); /* IE6-9 */
  color: #fff;
  margin-top: 1em;
  width:90%;
  height: 5vh;
  border-radius: 40px;
  cursor: pointer;

}
.have-act{
  margin-top: 1em;
  font-size: 78%;
  color: #848484;
}
.blueText{
  color: #0058dc;
  cursor: pointer;
}
.redText{
  color: #F36F6F;
  cursor: pointer;
}

/*.register{
  display: none;
}*/

.log-in{
  display: none;
}

​
/* Media Queries */

@media(max-width: 780px){

    #img1{
      width:23%;
      height:30%;
    }
    #img2{
      width:16%;
      height:14%;
    }
    #img3{
      width:16%;
      height:15%;
    }
    #img4{
      width:35%;
      height:28%;
    }

}

@media(max-width: 588px){
    img{
        display: none;
    }
}
