<%- include('partials/header') %>

<!-- images  -->
<div class="container1">
    <img class="top-left" src="https://res.cloudinary.com/fabianuzukwu/image/upload/v1568717437/teamalpha/feo7opljnv8fzthljrb5.png" alt="">
    <img class="top-right" src="https://res.cloudinary.com/fabianuzukwu/image/upload/v1568717437/teamalpha/lrnzpp5pqrvgcvdq436d.png" alt="">
    <img class="bottom-left" src="https://res.cloudinary.com/fabianuzukwu/image/upload/v1568717437/teamalpha/upm7yc8p4q1vo2gjpo6y.png" alt="">
    <img class="bottom-right" src="https://res.cloudinary.com/fabianuzukwu/image/upload/v1568717437/teamalpha/y2jrfxzyu8t25heg5lfr.png" alt="">
</div>


<div class="parent">

    <form class="quote" action="/login" method="POST">
        <header>
            <h2>Log In</h2>

        </header>
        <div>

            <input type="email" name="username" placeholder="Email">
        </div>

        <div>

            <input type="password" name="password" placeholder="Password">
        </div>
        <button class="button_2" type="submit">Login</button>
        <p class="have-act">I Am New Here <a href="/register" class="reg">Register</a></p>
    </form>
</div>

<%- include('partials/footer') %>
