<%- include('partials/header') %>

<!-- images  -->
<div class="container1">
    <img class="top-left" src="https://res.cloudinary.com/fabianuzukwu/image/upload/v1568717437/teamalpha/feo7opljnv8fzthljrb5.png" alt="">
    <img class="top-right" src="https://res.cloudinary.com/fabianuzukwu/image/upload/v1568717437/teamalpha/lrnzpp5pqrvgcvdq436d.png" alt="">
    <img class="bottom-left" src="https://res.cloudinary.com/fabianuzukwu/image/upload/v1568717437/teamalpha/upm7yc8p4q1vo2gjpo6y.png" alt="">
    <img class="bottom-right" src="https://res.cloudinary.com/fabianuzukwu/image/upload/v1568717437/teamalpha/y2jrfxzyu8t25heg5lfr.png" alt="">
</div>


<div class="parent">

    <form class="quote" action="/register" method="POST">
        <header>
            <h2>Register</h2>

        </header>
        <div>

            <input type="text" name="fname" placeholder="Full Name" required>
        </div>
        <div>

            <input type="email" name="username" placeholder="Email" required>
        </div>

        <div>

            <input type="password" name="password" placeholder="Password" required>
        </div>
        <button class="button_2" type="submit">Become an Alpha</button>
        <p class="have-act">Already have an account? <a href="/login" class="reg">Login</a></p>
    </form>
</div>

<%- include('partials/footer') %>
