<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fab fa-autoprefixer fa-6x"></i>
    <h1 class="display-3">Welcome Alpha!</h1>
    <p class="secret-text">“Beginning is scary, exciting, terrifying, and all things amazing. Begin even when you're not sure.....What do you have to lose?”
― Chris Burkmenn</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
